/*-------------------------------------- HTML PAGE AND BODY-------------------------------*/
html {
    font-size: 10px;
    margin : 0;
    padding : 10px 0px 0px 0px;
}
/*
*{
    text-decoration:none; 
}

body{

    /* réglage mobile et + 
    font-family:sans-serif;
    font-size:16px;
  }*/

img {
 width: 75%;
}

ul li {
    display: none;
}

.active {
    display : block;
}


  

