/*-------------------------------------- HTML PAGE AND BODY-------------------------------*/
html {
    font-size: 10px;
    margin : 0;
    padding : 0;
}

*{
    text-decoration:none; 
}

body{

    /* réglage mobile et +*/ 
    font-family:sans-serif;
    font-size:16px;
  }

img {
 width: 80%;
}

ul li {
    display: none;
}

.active {
    display : block;
}

ul {
    text-align: center;
}


.button-wrapper {
    text-align: center;
}
  

